# Unity proje klasörü: "The Game"

# Unity tarafından oluşturulan klasörler
The Game/[Ll]ibrary/
The Game/[Tt]emp/
The Game/[Oo]bj/
The Game/[Bb]uild/
The Game/[Bb]uilds/
The Game/[Ll]ogs/
The Game/[Uu]ser[Ss]ettings/

# Bellek yakalamaları (büyük olabilir ve hassas veriler içerebilir)
The Game/[Mm]emoryCaptures/

# Kayıtlar (aşırı büyük olabilir)
The Game/[Rr]ecordings/

# Asset Store araçları (kullanılmıyorsa açılabilir)
/The Game/[Aa]ssets/AssetStoreTools*

# JetBrains Rider eklentisi
The Game/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio dosyaları
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta dosyalar
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Çökme raporu dosyası
sysinfo.txt

# Build dosyaları
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics dosyası
crashlytics-build.properties

# Packed Addressables
The Game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Geçici otomatik Android dosyaları
The Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
